:host {
  .spacer {
    flex: 1 1 auto;
  }

  mat-nav-list{
    h3{
      padding: 20px;
    }
  }

  mat-drawer-content {
    display: flex;
    flex-direction: column;

    .router-wrapper {
      flex: 1;
      overflow: auto;
    }
  }

  mat-drawer-container {
    height: 100%;
    margin: 0;

    mat-nav-list {
      min-width: 200px;
    }
  }
}
